

/* Start:/bitrix/components/bitrix/catalog.store/templates/bootstrap_v4/style.min.css?1578645198682*/
table.sale_personal_profile_list{border:0 double #000;width:80%;background-color:#f9fafb;font-size:12px}table.sale_personal_profile_list th{text-align:center;color:#25639a}table.sale_personal_profile_list th,table.sale_personal_profile_list td{border:0 double #000;padding:3px 5px 7px;vertical-align:top}div.catalog-detail-properties{clear:both;padding:1em 0 0;overflow:hidden;width:80%}div.catalog-detail-property{margin:0 0 1em;float:left;width:100%}div.catalog-detail-property span{float:left;position:relative;top:.31em;padding-right:3px;zoom:1}div.catalog-detail-properties-title{font-size:1em;font-weight:bold;margin:2em 0 1em}.last{text-align:right}.central{text-align:right}
/* End */


/* Start:/bitrix/components/bitrix/catalog.store.list/templates/bootstrap_v4/style.min.css?1578645198353*/
.catalog-stores-item-info{min-width:250px;max-width:250px!important;width:250px;border-left:1px solid #d3d3d3}.catalog-stores-item-title-link{font-weight:bold;font-size:15px}.catalog-store-item-image{max-width:100%;height:auto}@media(max-width:767px){.catalog-stores-item-info{min-width:0!important;max-width:100%!important;width:100%;border-left:none}}
/* End */
/* /bitrix/components/bitrix/catalog.store/templates/bootstrap_v4/style.min.css?1578645198682 */
/* /bitrix/components/bitrix/catalog.store.list/templates/bootstrap_v4/style.min.css?1578645198353 */
