

/* Start:/bitrix/components/bitrix/catalog.sections.top/templates/.default/style.css?1578645203110*/
.catalog-price {
	 color:red;
}
div.catalog-sections-top table td {
	padding-right:10px;
	padding-top:10px;
}

/* End */


/* Start:/bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1578645203150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/catalog.sections.top/templates/.default/style.css?1578645203110 */
/* /bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1578645203150 */
